<h2>Persistent model</h2>

Try writing something into this input and navigating to other route. <br>
This input is 'persisted' using services. <br>
<a target="_blank" href="http://stackoverflow.com/questions/22714409/save-state-of-views-in-angularjs">http://stackoverflow.com/questions/22714409/save-state-of-views-in-angularjs</a>
<br><br>
<input type="text" ng-model="$ctrl.persistent.mySavedInputValue" placeholder="much save state, so persistent, wow">
You can also persist data after page refresh using localStorage
<br>
<a href="https://www.quora.com/AngularJS-How-can-I-get-my-data-last" target="_blank">https://www.quora.com/AngularJS-How-can-I-get-my-data-last</a>

<h2>Popup</h2>

<button class="button alert" ng-click="$ctrl.onOpenPopupClicked()">Open example popup</button>

<h2>SVG</h2>

<div class="test-svg" ng-include="'assets/images/reload.svg'"></div>