Angular has an event system, but it <strong>SHOULD BE USED WITH CAUTION</strong> <br>
Only use this if ALL OTHER methods of communication between components <strong>do not work</strong> <br>
<a target="_blank" href="http://csharperimage.jeremylikness.com/2014/12/the-top-5-mistakes-angularjs-developers.html">
	http://csharperimage.jeremylikness.com/2014/12/the-top-5-mistakes-angularjs-developers.html</a><br>
<br>

<button class="button alert" ng-click="$ctrl.onAppLevelEventClicked()">
	<strong>$rootScope.$emit</strong> - Application-level event
</button>

<br>

<button class="button secondary" ng-click="$ctrl.onScopeBroadcastClicked()">
	<strong>$scope.$broadcast</strong> - Notify this and all children components
</button>

<events-example-child></events-example-child>

<button class="button secondary" ng-click="$ctrl.onScopeEmitClicked()">
	<strong>$scope.$emit</strong> - Notify this and all parent components
</button>